/*
green foreground #029A20
my blue background #001e25
# black
color0 #2E3436
color8 #555753
# red
color1 #CC0000
color9 #EF2929
# green
color2 #4E9A06
color10 #8AE234
# yellow
color3 #C4A000
color11 #FCE94F
# blue
color4 #3465A4
color12 #729FCF
# magenta
color5 #75507B
color13 #AD7FA8
# cyan
color6 #06989A
color14 #34E2E2
# white
color7 #D3D7CF
color15 #EEEEEC
*/


* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(11, 11, 11, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  padding: 0 15px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #999999;
}

#workspaces button.focused {
  color: #ffffff;
    background-color: #333333;
    border-bottom: 2px solid #00ff96;
}

#workspaces button.urgent {
    background-color: #ef2929;
    border-bottom: 2px solid #CC0000;
}

#mode {
  background-color: #00ff96;
  color: #000000;
}

#custom-battery.Full {
  border-bottom: 2px solid #4E9A06;
}

#custom-battery.Charging {
  border-bottom: 2px solid #4E9A06;
}

#custom-battery.Low {
  border-bottom: 2px solid #CC0000;
}

#custom-battery.Discharging {
  border-bottom: 2px solid #FCE94F;
}

#backlight.high {
    border-bottom: 2px solid #3465A4;
}

#backlight.low {
    border-bottom: 2px solid #555753;
}

#backlight.dark {
    border-bottom: 2px solid #2E3436;
}

#cpu.high {
    border-bottom: 2px solid #CC0000;
}

#cpu.normal {
    border-bottom: 2px solid #C4A000;
}

#cpu.low {
    border-bottom: 2px solid #4E9A06;
}

#memory.high {
    border-bottom: 2px solid #CC0000;
}

#memory.normal {
    border-bottom: 2px solid #C4A000;
}

#memory.low {
    border-bottom: 2px solid #4E9A06;
}

#custom-next_event {
    border-bottom: 2px solid #555753;
}

#custom-weather {
    border-bottom: 2px solid #555753;
}

#custom-pkg {
    border-bottom: 2px solid #555753;
}

#custom-total_dl {
    border-bottom: 2px solid #555753;
}

#clock {
    border-bottom: 2px solid #555753;
}

#pulseaudio {
    border-bottom: 2px solid #3465A4;
}

#pulseaudio.muted {
    border-bottom: 2px solid #555753;
}

#network {
    border-bottom: 2px solid #555753;
}

#temperature {
    border-bottom: 2px solid #3465A4;
}

#temperature.critical {
  border-bottom: 2px solid #CC0000;
}
